#scroller {
	max-width: 820px;
}

.checkpoint {
	border: 1px solid black;
}
	
	.checkpoint img {
		width: auto;
		max-width: 190px;
	}

	.checkpoint .left-image, .right-image {

	}

	.checkpoint .right-image{
		float: right;
	}

	.checkpoint .content {
		padding: 10px;
	}
		
		.content .title {
			font-size: 24px;
			font-weight: 600;
			line-height: 32px;
			color: black;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.content .description {
			padding-top: 15px;
		}